<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/gs">Getting Started</a></li>
              <li><a href="/doc">API Documentation</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jagh1729@gmail.com">email</a></li>
        		  <li><a href="https://github.com/IADBproject/diagnosenet">github.com/diagnosenet</a></li>
				</ul>
			</footer>
		</body>
	</html>
